.product-detail {
  &__area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 381px);
  }
  &__container {
    background: rgba($color: $black, $alpha: 0.8);
    border-radius: 5px;
    display: flex;
    width: 100%;
    max-width: 580px;
    padding: 2vw;
    .img {
      aspect-ratio: 1 / 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
      width: 40%;
    }
    .content {
      color: $white;
      width: 60%;
      padding-left: 25px;
      .name {
        font-size: 22px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        text-transform: uppercase;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background: $yellow;
          width: 30px;
          height: 3px;
          bottom: 0;
          left: 0;
        }
      }
      .price {
        display: flex;
        align-items: center;
        line-height: 30px;
        &__before {
          color: $grey;
          font-size: 16px;
          font-weight: bold;
          margin-right: 8px;
          text-decoration: line-through;
        }
        &__after {
          color: $white;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .description {
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 20px;
      }
    }
  }
}
